@import url('https://fonts.googleapis.com/css?family=Nunito:500,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Poppins';
    user-select: none;
    -webkit-user-select: none;
}

.backdrop {
    display: flex;
    background: #4481eb;
    padding: 1rem;
    padding-bottom: .4rem;
    color: white;
    padding-bottom: 1.1rem;
}

.subject {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 3em;
}

.exam-details {
    font-size: 1.06em;
}

.timer {
    margin-left: auto;
    padding-right: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.timer i {
    font-size: 1.8rem;
    font-weight: normal;
    margin-right: 0.5rem;
}

.root-view {
    display: flex;
}

.navigator-view {
    width: 25%;
    height: 100vh;
}

.question-view {
    flex: 1;
}

.attempted {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
}

.ques-attempted span {
    font-size: 1.6rem;
    font-weight: bold;
}

.questions {
    height: calc(100% - 200px);
    overflow-y: scroll;
    padding-inline: .8rem;
    border-right-width: 1.3px;
    border-right-style: solid;
    border-right-color: #f5f5f5;
}

.questions::-webkit-scrollbar {
    display: none;
}

.question {
    display: flex;
    max-height: 58px;
    font-size: .92rem;
    margin-block: 0.5rem;
    padding: 0.6rem;
    line-height: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #EEEBFF;
    transition: background .3s ease;
}

.question:hover, .active-que {
    background: #4481eb;
    color: white;
}

.question span {
    margin-right: .6rem;
    width: 100%;
    max-width: 18px;
    font-weight: 700;
}

.question p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* question view */
.question-view {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.que-content p {
    font-size: 1.18rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.que-content span {
    width: auto;
    display: inline-block;
    padding: .5rem;
    background: #f5f5f5;
    border-radius: 10px;
    font-weight: 800;
}

.option {
    width: 75%;
    height: 70px;
    border-radius: 12px;
    border: 2px solid #f5f5f5;
    margin-block: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.opt-no {
    display: flex;
    width: 20px;
    height: 20px;
    padding: .5rem;
    background: #f5f5f5;
    border-radius: 50%;
    font-weight: 700;
    margin-inline: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 28px;
    cursor: pointer;
    clear: both;
    transition: background .5s ease;
}

.btn:hover {
    border: transparent;
    background: #4481eb;
    color: white;
}

.btn > i {
    margin-inline: .3rem;
}